@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.text-center{
    font-family: 'Prompt'; 
}

.card-text{     
    font-family: 'Prompt';
}
.last{    
    font-family: 'Prompt';
}
.navbar-brand{
    font-family: 'Prompt';
}

.nav-link{
	font-family: 'Prompt';
}

.btn{
	font-family: 'Prompt';	
}

.top{
font-family: 'Prompt';	
}

.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 4);
    transform: scale(1.02);
}
.btn-color-theme{
    font-family: 'Prompt';
    color: rgb(26, 26, 26);
    background-color: white;

}